.layout{

    display:flex;

    min-height:100vh;

    background:var(--background-color);

}

.layout-content{

    flex:1;

    display:flex;

    flex-direction:column;

    padding:35px;

    overflow-x:hidden;

}

.page-content{

    flex:1;

}

@media(max-width:900px){

    .layout{

        flex-direction:column;

    }

    .layout-content{

        padding:20px;

    }

}